{%  load static  %}

<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/bootstrap.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/owl.carousel.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/slicknav.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/animate.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/magnific-popup.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/fontawesome-all.min.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/themify-icons.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/slick.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/nice-select.css'  %}">
<link rel="stylesheet" type="text/css" href="{%  static 'frontend/css/style.css'  %}">
