{% load static %}
{% load i18n %}
<footer>
    <!-- Footer Start-->
    <div class="footer-main">
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row  justify-content-between">
                    <div class="col-lg-4 col-md-4 col-sm-8">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'frontend/img/footer-logo.png' %}" width="300px">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">{% trans 'About' %}</a></li>
                                    <li><a href="#">{% trans 'Services' %}</a></li>
                                    <li><a href="#">{% trans 'Projects' %}</a></li>
                                    <li><a href="#">{% trans 'Contact' %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact</h4>
                                <div class="footer-pera">
                                    <p class="info1">
                                        {% if request.LANGUAGE_CODE == 'ru' %}
                                            {{ request.session.my_contact.address_ru }}
                                        {% else %}
                                            {{ request.session.my_contact.address_uz }}
                                        {% endif %}
                                    </p>
                                </div>
                                <ul>
                                    <li><a href="tel:{{ request.session.my_contact.phone }}">
                                        {{ request.session.my_contact.phone }}</a></li>
                                    <li><a href="tel:{{ request.session.my_contact.phone2 }}">
                                        {{ request.session.my_contact.phone2 }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
