{% load static %}
{% load i18n %}
<header>
    <!-- Header Start -->
   <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
               <div class="container-fluid">
                   <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li>{{ request.session.my_contact.phone }}</li>
                                    <li>{{ request.session.my_contact.email }}</li>
                                    <li>9:00 - 18:00 {% trans 'Monday to Friday' %}</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">
                                    {% if request.session.contact.telegram %}
                                        <li><a href="{{request.session.contact.telegram}}"><i class="fab fa-telegram"></i></a></li>
                                    {% endif %}
                                    {% if request.session.contact.instagram %}
                                        <li><a href="{{request.session.contact.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                    {% endif %}
                                    {% if request.session.contact.facebook %}
                                        <li><a href="{{request.session.contact.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    {% if request.session.contact.twitter %}
                                        <li><a href="{{request.session.contact.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <!-- logo-1 -->
                                <a href="{% url 'index' %}" class="big-logo"><img src="{% static 'frontend/img/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'index' %}" style="font-size: 18px;">{% trans "Home" %}</a></li>
                                        <li><a href="{% url 'about' %}" style="font-size: 18px;">{% trans "About" %}</a></li>
                                        <li><a href="{% url 'projects' %}" style="font-size: 18px;">{% trans "Projects" %}</a></li>
                                        <li><a href="{% url 'contact' %}" style="font-size: 18px;">{% trans "Contact" %}</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="#" class="btn">{% trans "Contact Now" %}</a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>
