{%  load static  %}

<script type="text/javascript" src=" {%  static 'frontend/js/vendor/modernizr-3.5.0.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/vendor/jquery-1.12.4.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/popper.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/bootstrap.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/jquery.slicknav.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/owl.carousel.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/slick.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/gijgo.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/wow.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/animated.headline.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/jquery.magnific-popup.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/jquery.scrollUp.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/jquery.nice-select.min.js'  %} "></script>
<script type="text/javascript" src=" {%  static 'frontend/js/jquery.sticky.js'  %} "></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="{%  static 'frontend/js/jquery.counterup.min.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/contact.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/jquery.form.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/jquery.validate.min.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/mail-script.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/jquery.ajaxchimp.min.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/plugins.js'  %}"></script>
<script type="text/javascript" src="{%  static 'frontend/js/main.js'  %}"></script>
