{% extends 'admin/layouts/main.html' %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'admin.user.create' %}" class="btn btn-success btn-round">Создать</a>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Пользователи</h4>
                        <p class="card-category">Пользователи которые имеют доступ к Админке</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    №
                                </th>
                                <th>
                                    Эл.Адрес
                                </th>
                                <th>
                                    Номер Телефона
                                </th>
                                <th>
                                    Админ
                                </th>
                                <th width="15%">
                                    Действия
                                </th>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        {{ user.id }}
                                    </td>
                                    <td>
                                        {{ user.username }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.is_superuser }}
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div>
                                                <a class="btn btn-primary btn-round"
                                                style="font-size:10px">Редактировать</a>
                                            </div>
                                            <div>
                                                <a href="{% url 'admin.user.delete' user.id %}" class="btn btn-primary btn-round"
                                                style="font-size:10px">Удалить</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}