{% load static %}
<script src="{% static 'admin/js/core/jquery.min.js'"></script>
<script src="{% static 'admin/js/core/popper.min.js' %}"></script>
<script src="{% static 'admin/js/core/bootstrap-material-design.min.js' %}"></script>
<script src="https://unpkg.com/default-passive-events"></script>
<script src="{% static 'admin/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Chartist JS -->
<script src="{% static 'admin/js/plugins/chartist.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'admin/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'admin/js/material-dashboard.js?v=2.1.0' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'admin/demo/demo.js' %}"></script>
<script src="{% static 'admin/js/lol.js' %}"></script>